/* src/components/AccountDropdown/AccountDropdown.css */

.account-dropdown {
  position: absolute;
  flex: 0 0 16.60%;
  top: 20px;
  right: 20px;
}

.account-dropdown button {
  cursor: pointer;
  /* Add more button styling here */
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  /* Add more dropdown menu styling here */
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
}
