/* label.css */

.label-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.3); /* Very light silver background */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 5px;
  height: 100%; /* Takes full height of the grid cell */
  box-sizing: border-box; /* Includes padding and border in the height */
  border-radius: 10px; /* Rounded corners */
  position: relative;
  cursor: pointer;
  backdrop-filter: blur(5px);
	text-align: left;
}

.label-item h5 {
  margin: 0; /* Provides a consistent margin for top and bottom of the h5 */
  padding: 0px; /* Add padding for spacing */
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.label-item p {
  margin: 10px 0; /* Provides a consistent margin for top and bottom of the h5 */
  font-size: 18px;
  color: white;
  text-align: center;
  display: block; /* Initially hide the description */
  position: relative; /* Position it absolutely */
  /* bottom: 10px; /* Adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

.label-item:hover p {
  display: block; /* Show the description when hovering over the item */
}

/* Hide album items that are not being hovered over */
.label-item:not(:hover) p {
  display: none;
}

.label-item:hover {
  height: auto; /* Allow the item to expand to fit the description */
}

.label-item::before {
  content: '';
  float: left;
  padding-top: 2%; /* This maintains the aspect ratio */
}

li {
	color: white;
}

#label-artist {
	font-weight: 400;
}
