.artist-page-container {
	margin: 50px;
	margin-top: 0;
  max-height: 100vh;  /* Set the maximum height to 90% of the viewport height */
  overflow-y: auto;   /* Enable vertical scrolling */
  padding: 20px;      /* Optional: Add padding for better layout */
  box-sizing: border-box; /* Include padding in height calculation */
}

.artist-page-container h1 {
	text-align: left;
	margin-bottom: 0;
	margin-top: 10vh;
	padding: 0;
}
